@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Smooch+Sans&display=swap');

body{
    background-image: url(./assets/vecteezy_vector-image-of-a-collection-of-planets-in-outer-space_.jpg);
    background-repeat: repeat;
    background-size: contain;
    font-family: 'PT Serif', serif;
}